{% extends 'student/base_for_students.html' %}
{% block content %}
    <h3 id="e_year" class="text-center"></h3>
    <div class="table-overflow">
      <table class="table table-bordered border-blue">
        {% for day1 in day_of_week %}
            <tr class="bg-blue text-white">
                <td class="text-center" colspan="3"><b>{{ day1.day }}</b></td>
            </tr>
            {% for  schedule in  schedules %}
                {% if schedule.day.day == day1.day  %}
                    <tr>
                        <td><b>{{ schedule.hour }}</b></td>
                        <td>{{ schedule.subject }}</td>
                        <td>{{ schedule.types }}</td>
                    </tr>
                {% endif %}
                
            {% endfor %}
            {% empty %}
                <tr><td colspan="2">Нет записей!</td></tr>
        {% endfor %}
    </table>  
    </div>
    
{% endblock %}