{% extends 'student/base_for_students.html' %}
{% block content %}
    <h3 class="text-center">{{ date }}</h3>
    <div class="table-overflow">
        <table class="table table-bordered border-blue">
            <tr>
                <td class="text-center bg-blue text-white"><b>Предмет</b></td>
                <td class="text-center bg-blue text-white"><b>Отметка</b></td>
            </tr>
            {% for attedance in attedances %}
                <tr>
                    <td>{{ attedance.subject }}</td>
                    <td>
                        {% if attedance.attedance_date is True  %}
                            <i class="fa fa-check-circle-o text-success" aria-hidden="true"></i>
                        {% elif attedance.attedance_date is False  %}
                            <i class="fa fa-times-circle-o text-danger" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">Нет записей!</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    
{% endblock %}